{% liquid
  if block.settings.product != blank
    assign target = block.settings.product
  endif
%}

<div class="{{ block.settings | class_list }} description-block" {{ block.shopify_attributes }}>
  {{ target.description }}
</div>

{% schema %}
{
  "name": "Product (description)",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Product (description)",
      "settings": { "product": "{{ closest.product }}" }
    }
  ]
}
{% endschema %}
