<div class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}">
  {% comment %} [START section.render_blocks] {% endcomment %}
  {% content_for 'blocks' %}
  {% comment %} [END section.render_blocks] {% endcomment %}
</div>

{% comment %} [START section.blocks] {% endcomment %}
{% schema %}
{
  "name": "Custom section",
  "class": "section--has-background",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Custom section"
    }
  ]
}
{% endschema %}
